<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/css/style.css' />
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="../imgs/icons/apple-touch-icon.png"> -->
<link rel="icon" type="image/png" sizes="32x32" href="../imgs/icons/favicon-32x32.png">
<!-- <link rel="icon" type="image/png" sizes="16x16" href="../imgs/icons/favicon-16x16.png"> -->
<link rel="manifest" href="/site.webmanifest">
    <title>V.O. GO</title>
</head>

<body>

    <%- include(`./nav`)%>


    <div class="container">
        <div class="sidebar">  </div>
        <div class="navigation">

            <h1>V.O. GO</h1>
            <br/>
           
            <br/>
            <div class="homelinks">
                <a href="/recordings">Recordings</a>
                <a href="/category">By Category</a>
                <a href="recordings/new">Add Recording</a>
            </div>
            <br/>
            <h3>Check out your current database, select your recordings by category, or add a new recording.
                Remember when adding a new recording you'll need to follow these basic steps: </h3>
                <br/>
                <ol>
                        <li>Head over to  <a href="http://soundcloud.com">SoundCloud</a> to the recording you want to upload</li>
                        <li>
                            Click the 'Share' button beneath the recording <img src="../imgs/tip1.png" alt="firsttip">
                        </li>
                        <li>
                            On the pop-up click the 'Embed' link at the top then copy the code below and paste it in the "Embedded Recording" section. You can style your embed with options from SoundCloud <img src="../imgs/tip2.png" alt="secondtip">
                        </li>
                </ol>  
        </div>
    </div>

    <%- include(`./footer`)%>

</body>

</html>