<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/css/style.css' />
    <title>V.O. GO</title>
</head>

<body>

    <%- include(`./nav`)%>

   <img src='../imgs/logo.png' alt="logoimage">
    <div class="container">
        <div class="sidebar"></div>
        <div class="navigation">

            <h1>V.O. GO</h1>

            <h3>Welcome to V.O. GO, you can look at your current database and select by genre, or add a new recording.
                Remember when adding a new recording you'll need your embedded Soundcloud link</h3>

            <a href="/recordings">Your Recordings</a>
            <a href="/recordings">Your Recordings by Genre</a>
            <a href="recordings/new">Add a New Recording</a>


        </div>
    </div>

    <%- include(`./footer`)%>

</body>

</html>