<header>
    <nav>
        <a href="/">
            Home
        </a>
        <a href="/recordings/new">
            Add Recording
        </a>
        <a href="">
            Sign In
        </a>
        <a href="">
            Sign Out
        </a>
    </nav>
</header>
