<header>
    <nav>
<a href="/">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Home
    </a>
    <a href="/specimens/all">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        View All
    </a>
    <a href="/specimens/new">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Add Lab
    </a>
    </nav>
</header>



<%- include(`../nav.ejs`)%>