@import url('https://www.ffonts.net/radion.font');
@import url('https://www.ffonts.net/Radio-Space.font');

:root {
    --headerbackground-blue: #023C7C;
    --body-blue: #285BA7;
    --border-gray: #7D879B;
    --body-gray: #32405B;
     --primary-font: 'radion';
     --secondary-font: 'Radio-Space';
}

/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
}

    body {
  
        background:var(--body-blue);
        font-family: var(--secondary-font);
    }

    nav, footer{
        display: flex;
        background:  var(--headerbackground-blue);
        color: var(--border-gray);
        font-family: var(--primary-font);
    }

    img {
        display: flex;
        border-radius: 50%;
        height: 30vw;
        width:  30vw;
        border: solid;
        border-color: var(--border-gray);
        box-shadow: 1px 1px 10px var(--border-gray),
      -1px -1px 10px var(--border-gray),
      1px -1px 10px var(--border-gray),
      -1px 1px 10px var(--border-gray);
      
    }

    nav {
        height: 100px;
        justify-content: space-around;
        align-items: center;
        border-bottom: solid;
        font-size: 40px;
     
        text-shadow: 4px 0  var(--border-gray);
        letter-spacing:2px;
        font-weight:bold;
        border-color: var(--border-gray);
        box-shadow: 0px 0px 0px var(--border-gray),
        0px 0px 40px var(--border-gray),
        0px 0px 0px var(--border-gray),
        0px 0px 0px var(--border-gray);
    }

    footer {
        height: 40px;
        align-items: center;
        justify-content: flex-end;
        border-top: solid;
        font-size: 20px;
        border-color: var(--border-gray);
        box-shadow: 0px 0px 0px var(--border-gray),
        0px 0px 40px var(--border-gray),
        0px -0px 0px var(--border-gray),
        -0px 0px 0px var(--border-gray);
    }

    h1{
        font-family: var(--primary-font);
    }
    
/* CONTAINERS */

.container {
    width: 70vw;
    height: 40vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
  }
/* 
  .sidebar {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
  }  */

  a{
      color:  var(--border-gray);
      text-decoration: none;
      font-family: var(--primary-font);
      text-shadow: 1px 1px 2px black, 0 0 25px var(--body-blue), 0 0 5px var(--headerbackground-blue)
  }
  
  .navigation {
    width: 50%;
    background: var(--body-gray);
    border-radius: 0 10px 10px 0;
    color: var(--border-gray);
    border-color: var(--border-gray);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--border-gray),
      -1px -1px 10px var(--border-gray),
      1px -1px 10px var(--border-gray),
      -1px 1px 10px var(--border-gray);
    overflow: auto;
  }
   
/* FORMS */
